/build/
/javadoc/
/logs/
/.settings/
*.log
/dist*/
/tmp/
/test/data/*.ser
/test/instrument/
/test/build/
/test/data/index_java/bin

/src/main/java/org/org.solrmarc/index/indexer/FullSym.java
/src/main/java/org/org.solrmarc/index/indexer/FullConditionalScanner.java
/src/main/java/org/org.solrmarc/index/indexer/FullConditionalParser.java

/lib-solrj-5.5.0/

.idea/*
_resources/*
