/build/
/javadoc/
/logs/
/.settings/
*.log
/dist*/
/tmp/
/test/data/*.ser
/test/instrument/
/test/build/
/test/data/index_java/bin

/src/org/solrmarc/index/indexer/FullSym.java
/src/org/solrmarc/index/indexer/FullConditionalScanner.java
/src/org/solrmarc/index/indexer/FullConditionalParser.java

/lib-solrj-5.5.0/

.DS_Store
